In [17]:
# Dependencies
from bs4 import BeautifulSoup
from splinter import Browser

In [18]:
# get the path for splinter
!which chromedriver

/usr/local/bin/chromedriver

In [19]:
# set up the browser
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars news site the latest news title and paragraph text

In [4]:
# URL for browser
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)
browser.is_element_present_by_css('ul.item_list li.slide', wait_time = 1)

True

In [5]:
# Create BeautifulSoup object; parse with 'html.parser'
html = browser.html
news_soup = BeautifulSoup(html, 'html.parser')

In [7]:
news_title =  news_soup.find('div', class_="content_title").a.text
news_title

'A Rover Pit Stop at JPL'

In [6]:
slide_elem = news_soup.select_one('ul.item_list li.slide')
slide_elem

<li class="slide"><div class="image_and_description_container"><a href="/news/8458/a-rover-pit-stop-at-jpl/" target="_self"><div class="rollover_description"><div class="rollover_description_inner">Working like a finely honed machine, a team of engineers in this time-lapse video clip install test wheels on another finely honed machine: NASA's Mars 2020 rover.</div><div class="overlay_arrow"><img alt="More" src="/assets/overlay-arrow.png"/></div></div><div class="list_image"><img alt="A team of engineers at NASA's Jet Propulsion Laboratory in Pasadena, California, install the legs and wheels — otherwise known as the mobility suspension — on the Mars 2020 rover." src="/system/news_items/list_view_images/8458_rover-time-lapse-th.jpg"/></div><div class="bottom_gradient"><div><h3>A Rover Pit Stop at JPL</h3></div></div></a><div class="list_text"><div class="list_date">July 12, 2019</div><div class="content_title"><a href="/news/8458/a-rover-pit-stop-at-jpl/" target="_self">A Rover Pit Stop at JPL</a></div><div class="article_teaser_body">Working like a finely honed machine, a team of engineers in this time-lapse video clip install test wheels on another finely honed machine: NASA's Mars 2020 rover.</div></div></div></li>

In [9]:
news_p = news_soup.find('div', class_="article_teaser_body").text
news_p

"Working like a finely honed machine, a team of engineers in this time-lapse video clip install test wheels on another finely honed machine: NASA's Mars 2020 rover."

In [7]:
# get the news title
news_title = slide_elem.find('div', class_='content_title').a.text
news_title

'A Rover Pit Stop at JPL'

In [8]:
# find the description for the latest news title
news_p = slide_elem.find('div', class_="article_teaser_body").text
news_p

"Working like a finely honed machine, a team of engineers in this time-lapse video clip install test wheels on another finely honed machine: NASA's Mars 2020 rover."

# Looking for feature image for JPL Mars Space Images

In [20]:
# launch the url
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [21]:
html = browser.html
img_soup = BeautifulSoup(html, 'html.parser')

In [23]:
img_url_rel = img_soup.find('a', class_="fancybox")["data-link"]
img_url

'/spaceimages/details.php?id=PIA18284'

In [24]:
img_url = f"https://www.jpl.nasa.gov{img_url_rel}"

In [25]:
browser.visit(img_url)
html = browser.html
feature_img_soup = BeautifulSoup(html, 'html.parser')

In [28]:
featured_image_url_rel = feature_img_soup.find('figure', class_= "lede").a['href']
featured_image_url_rel

'/spaceimages/images/largesize/PIA18284_hires.jpg'

In [29]:
featured_image_url  = f"https://www.jpl.nasa.gov{featured_image_url_rel}"
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18284_hires.jpg'

# Mars Weather

In [15]:
# get the twitter page and load the html by using BeautifulSoup
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

browser.is_element_present_by_css('div.js-tweet-text-container', wait_time = 1)

True

In [16]:
html = browser.html
weather_soup = BeautifulSoup(html, 'html.parser')

In [17]:
# get the twitter feed
weather_elem = weather_soup.find_all('div', class_="js-tweet-text-container")

In [18]:
# get the weather feed 
import re

def findWeather(list):
    for i in list:
        if re.findall(r"^InSight", i.find('p', class_="tweet-text").text):
            return i 

weather_feed = findWeather(weather_elem)
weather_feed

<div class="js-tweet-text-container">
<p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">InSight sol 219 (2019-07-09) low -100.3ºC (-148.5ºF) high -24.9ºC (-12.8ºF)
winds from the SE at 4.5 m/s (10.0 mph) gusting to 16.1 m/s (36.1 mph)
pressure at 7.60 hPa<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/zJkUifSPvt">pic.twitter.com/zJkUifSPvt</a></p>
</div>

In [19]:
# get the mars weather condition
mars_weather = weather_feed.find('p', class_="tweet-text").text.split('pic.twitter')[0]
mars_weather.replace('\n','')

'InSight sol 219 (2019-07-09) low -100.3ºC (-148.5ºF) high -24.9ºC (-12.8ºF)winds from the SE at 4.5 m/s (10.0 mph) gusting to 16.1 m/s (36.1 mph)pressure at 7.60 hPa'

# Mars Facts

In [20]:
# import pandas
import pandas as pd

In [21]:
# set the url
url = 'https://space-facts.com/mars/'

In [22]:
# read the table in the html  
mars_tables = pd.read_html(url)
mars_tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [23]:
# table for mars-earth comparison
mars_earth_comparsion = mars_tables[0].transpose()
mars_earth_comparsion.reset_index()
mars_earth_comparsion.columns = ['Diameter', 'Mass', 'Moons', 'Distance from sun', 'Length of Year',
                                'Temperature']
mars_earth_comparsion = mars_earth_comparsion.iloc[1:]
mars_earth_comparsion

,Diameter,Mass,Moons,Distance from sun,Length of Year,Temperature
Mars,"6,779 km",6.39 × 10^23 kg,2,"227,943,824 km",687 Earth days,-153 to 20 °C
Earth,"12,742 km",5.97 × 10^24 kg,1,"149,598,262 km",365.24 days,-88 to 58°C

In [24]:
# table for mars facts
mars_facts = mars_tables[1]
mars_facts.columns = ['description', 'value']
mars_facts

            description                          value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [25]:
# save the tables to html
mars_earth_comparsion_html = mars_earth_comparsion.to_html()
mars_facts_html = mars_facts.to_html()

# Mars Hemispheres

In [67]:
# get the url, set to browser
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [68]:
html = browser.html
info_soup = BeautifulSoup(html, 'html.parser')

In [69]:
# get the relative url to accsssing the full image
url_rel = []
all_url_rel = info_soup.find_all("div", class_="description")
for i in all_url_rel:
    j = i.find("a", class_="product-item")
    url_rel.append(j['href'])
url_rel

['/search/map/Mars/Viking/cerberus_enhanced',
 '/search/map/Mars/Viking/schiaparelli_enhanced',
 '/search/map/Mars/Viking/syrtis_major_enhanced',
 '/search/map/Mars/Viking/valles_marineris_enhanced']

In [70]:
hemisphere_image_urls = []

In [71]:
# looping throughthe url and get the title and full image url for each image
for i in url_rel:
    url = f"https://astrogeology.usgs.gov{i}"
    browser.visit(url)
    html = browser.html
    browser.is_element_present_by_css('img.wide-image', wait_time =1)
    link_img_soup = BeautifulSoup(html, 'html.parser')
    img_title = link_img_soup.find('h2', class_ ='title').text
    img_url_rel = link_img_soup.select_one('img.wide-image').get('src')
    img_url = f"https://astrogeology.usgs.gov{img_url_rel}"
    img_dict = {'title': img_title, 'img_url' : img_url}
    hemisphere_image_urls.append(img_dict)

In [72]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]